body{
  background-color: #0A122A;
}
@keyframes right{
  0%{
    opacity: 0%;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  14.28%{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  28.57%{
    opacity: 0%;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
  }
  42.86%{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  57.14%{
    opacity:0;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  71.43%{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
  85.71%{
    opacity: 0%;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
  }
  100%{
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

}
@keyframes right1{
  0%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  10%{
    opacity: 1;
    transform: translateZ(0);
  }
  20%{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  23.33%{
    opacity: 0;
    transform: translateZ(0);
  }
  26.67%{
    opacity:0;
    transform: translate3d(0,-100%,0);
  }
  30%{
    opacity:1;
    transform: translateZ(0);
  }
  40%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  43.33%{
    opacity: 0;
    transform: translateZ(0);
  }
  46.67%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  50%{
    opacity: 1;
    transform: translateZ(0);
  }
  60%{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  63.33%{
    opacity: 0;
    transform: translateZ(0);
  }
  66.67%{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  70%{
    opacity: 1;
    transform: translateZ(0);
  }
  80%{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  83.33%{
    opacity: 0;
    transform: translateZ(0);
  }
  86.67%{
    opacity: 0;
    transform: translate3d(100%,0,0);
  }
  90%{
    opacity: 1;
    transform: translateZ(0);
  }
}
img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top:150px;
    animation-name: right1;
    animation-duration: 4.5s;
    animation-fill-mode: both;
    /* animation-name: top; */
}